# 225150200111004_1 HAIKAL THORIQ ATHAYA_1
# 225150200111008_2 MUHAMMAD ARSYA ZAIN YASHIFA_2
# 225150201111001_3 JAVIER AAHMES REANSYAH_3
# 225150201111003_4 MUHAMMAD HERDI ADAM_4

# Core libraries for evaluation and serving
pandas==1.5.0
scikit-learn==1.5.2
numpy==1.26.4
scipy
mlflow-skinny
boto3
nltk==3.8.1
google-generativeai

# Libraries for FastAPI & Prometheus
fastapi
uvicorn[standard]
prometheus-client
prometheus-fastapi-instrumentator
jinja2
python-multipart

# Library for making async HTTP requests
aiohttp
httpx

# Data versioning
dvc

# Timezone handling
pytz

# Embedding model for better drift detection
sentence-transformers>=2.0.0
