# Core libraries for evaluation
pandas==1.5.0
scikit-learn==1.5.2
numpy==1.26.4 # Add pinned numpy version to ensure compatibility

# Libraries for Flask & Prometheus
flask
prometheus-flask-exporter
prometheus-client

# Library for making HTTP requests
requests

# Timezone handling
pytz
